<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TibcoCarRentals</title>
    <meta name="keywords" content="footer, address, phone, icons" />

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        @*<link rel="stylesheet" href="~/css/site.css" />*@
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="href=" https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/main.css" />
        <link rel="stylesheet" href="~/css/custom.css" />
        <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
        <link href="~/css/contacts.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">

    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body @*data-spy="scroll" *@ data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-default navbar-fixed-top header">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/images/logo.jpg" style="height:30px;" /></a>
            </div>
            <div class="navbar-collapse collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Cars" asp-action="Index">Cars</a></li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li><a asp-area="" asp-controller="CarBookings" asp-action="Index">Car Booking</a></li>
                    }
                    <li><a asp-area="" asp-controller="Buses" asp-action="Index">Buses</a></li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li><a asp-area="" asp-controller="BusBookings" asp-action="Index">Bus Booking</a></li>
                    }
                    <li><a asp-area="" asp-controller="Contacts" asp-action="Index">Contact</a></li>



                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>



    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>
    <footer class="footer-distributed">
        <div class="footer-left">
            <h3><span><img src="~/images/logo.jpg" alt="logo" class="footer-image" /></span></h3>
            <p class="footer-links">
                <a href="#">Home</a>
                ·
                <a href="#">About</a>
                ·
                <a href="#">Car</a>
                ·
                <a href="#">Bus</a>
                ·
                <a href="#">Contact</a>
                

            </p>
            <p class="footer-company-name">&copy; 2019 - Tibco Car Rentals</p>
        </div>
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>133 Tay Street</span> Invercargill, New Zealand</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>+64 204639999</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:chauthuy89@gmail.com">chauthuy89@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the company</span>
                Book a car or bus from Tibco Car Rentals anytime of the day. Once you book just pick your vehicle up and pay in store. Easy!
            </p>


            <div class="footer-icons"></div>
            Book a vehicle today!
            <a href="https://www.facebook.com/deep.virk111" class="fa fa-facebook"></a>
            <a href="https://twitter.com/gagan0711" class="fa fa-twitter"></a>
            <a href="http://www.instagimg.com/user/deepevirk/4224781377" class="fa fa-instagram"></a>
        </div>


    </footer>



    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
