@{
    ViewData["Title"] = "About";
}
@*<h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>*@


<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    About Us
                </h1>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start home-about Area -->
<section class="home-about-area" id="about">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 no-padding home-about-left">
                <img class="img-fluid carImage" src="~/images/car/car12.jpg" alt="">
            </div>
            <div class="col-lg-6 no-padding home-about-right">
                <h1>
                    Globally Connected <br>
                    by Large Network
                </h1>
                <p>
                    <b>We are here to listen from you deliver exellence</b>
                </p>
                <p>
                    Welcome to Tibco Car rental. Rent a car or bus online now from our Invercargill location.
                    With over 10 years experience in car and bus rentals, take advantage of our large vehicle rental selection and make your booking online instantly.
                    <!--  With all the best offers and deals on car rental on the website right now, and the option to pay online or upon collection of your car, Dankiza is the best place to book your car hire.-->
                    Start your booking process using the reservation system.
                </p>
                <a class="text-uppercase primary-btn" href="#">get details</a>
            </div>
        </div>
    </div>
</section>
<!-- End home-about Area -->
<!-- Start feature Area -->
<section class="feature-area section-gap" id="service">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 pb-40 header-text">
                <h1>What Services we offer to our clients</h1>
                <p>
                    Who are in extremely love with eco friendly system.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <h4><span class="lnr lnr-user"></span>Great Support</h4>
                    <p>
                        We are available 24 hours a day, seven days a week in the event of an accident
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <h4><span class="lnr lnr-license"></span>Professional Service</h4>
                    <p>
                        We offer professional service to our customers any time of the day
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <h4><span class="lnr lnr-phone"></span>Vehicle Extras</h4>
                    <p>
                        We offer GPS, Hand steering controls and an option to rent child seats in our office
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <h4><span class="lnr lnr-rocket"></span>Waiver Offer</h4>
                    <p>
                        Collision damage and theft waivers are included in most of our products to lessen your risk unlikely event of damage
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <h4><span class="lnr lnr-diamond"></span>Highly Recomended</h4>
                    <p>
                        Tibco Rental offer highly recommended cars and buses to the customers for the best trip
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <h4><span class="lnr lnr-bubble"></span>Positive Reviews</h4>
                    <p>
                        We always appreciate the feedback form the customers.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End feature Area -->